.box1{
    width:60%;
    height:60%;
    border:3px solid blue;
    box-shadow: 15px 10px 10px #aaaaaa;
    border-radius: 20px;
    margin:20px;
    padding:20px;
    
}
.main{
    margin:80px;
    width:40%;
    height:60%;
    border:3px solid #ee07fa;
    box-shadow:20px 15px 15px skyblue;
    padding:20px;
    border-radius:25px;
    background-color: whitesmoke;
}
body{
    background-image: url("game_bg.avif");
    background-size: cover;
}
label{
    color:darkblue;
    padding:5px;
    margin:auto;
    font-size:22px;
}
.main1{
    margin:80px;
    width:60%;
    height:80%;
    border:3px solid #ee07fa;
    box-shadow:20px 15px 15px skyblue;
    padding:20px;
    border-radius:25px;
    background-color: whitesmoke;
}
input{
    font-size:22px;
}